<!-- Nosotros -->
.row.justify-content-center 
  .col-4.img-abouts
    img(src="/static/img/about.png", alt="Nosotros")
  .col-8.mt-4
    .row 
      .col 
        p.fs-6.text-light Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quas blanditiis impedit, sit fuga optio itaque ad labore porro ullam minus assumenda a fugit nam vel! Itaque minus eos nesciunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id hic dignissimos repellat voluptates, quia necessitatibus quas, asperiores ad officia odit quidem praesentium sequi iure perferendis recusandae voluptate quaerat magni esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quia consequatur corrupti sit exercitationem at, eveniet voluptatibus inventore nulla voluptatem, placeat magnam fugiat totam vitae ratione sequi odio reiciendis in! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quas blanditiis impedit, sit fuga optio itaque ad labore porro ullam minus assumenda a fugit nam vel! Itaque minus eos nesciunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id hic dignissimos repellat voluptates, quia necessitatibus quas, asperiores ad officia odit quidem praesentium sequi iure perferendis recusandae voluptate quaerat magni esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quia consequatur corrupti sit exercitationem at, eveniet voluptatibus inventore nulla voluptatem, placeat magnam fugiat totam vitae ratione sequi odio reiciendis in! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam quas blanditiis impedit, sit fuga optio itaque ad labore porro ullam minus assumenda a fugit nam vel! Itaque minus eos nesciunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id hic dignissimos repellat voluptates, quia necessitatibus quas, asperiores ad officia odit quidem praesentium sequi iure perferendis recusandae voluptate quaerat magni esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quia consequatur corrupti sit exercitationem at, eveniet voluptatibus inventore nulla voluptatem, placeat magnam fugiat totam vitae ratione sequi odio reiciendis in!
    .row.text-center.icons-about 
      .col-1 
        i.bi.bi-link       
      .col-1 
        i.bi.bi-link       
      .col-1 
        i.bi.bi-link       
      .col-1 
        i.bi.bi-link       
      .col-1 
        i.bi.bi-link       
      .col-1 
        i.bi.bi-link       