<!-- Chat -->
<form id="form-chat" action="#" class="form-chat-message row mt-4 mb-4 justify-content-center">
  <div class="col-8">
    <textarea class="form-control" id="message" cols="30" rows="10"></textarea>
  </div>
  <div class="col-8 mt-4 d-flex justify-content-end">
    <button class="btn btn-danger" id="">Enviar mensaje</button>
  </div>
</form>

<div class="d-flex flex-column mt-5 align-items-center">
  <ul id="list-messages" class="list-of-messages text-light"></ul>
</div>