<!-- Galery -->
div.d-grid.mt-4.images-galery-grid
  - for(let i = 1; i < 10; i++)
    article.item-galery.d-flex.flex-column.justify-content-center
      img(src=`/static/img/${i}.jpg`, alt=`Image ${i}`)
      p.text-center.text-white.m-0 Image #{i}
