// Index
.row.bg-secondary.mt-5.justify-content-between.align-items-center
  .col-6.p-0.img-presentation
    img(src="/static/img/laptop.png", alt="Presentation")
  .col-6
    p.text-light.text-center
      strong Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem temporibus
      |  Inventore eos saepe ad perspiciatis esse fugit, enim aspernatur voluptatum suscipit ipsa sit impedit nulla obcaecati pariatur.

.row.bg-secondary.justify-content-between.align-items-center
  .col-6
    p.text-light.text-center Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem temporibus asperiores sit eveniet! Inventore eos saepe ad perspiciatis esse fugit,
      strong enim aspernatur voluptatum suscipit ipsa sit impedit nulla obcaecati pariatur

  .col-6.p-0.img-presentation
    img(src="/static/img/venta.png", alt="Presentation")

.row.mt-5.text-center.justify-content-center.align-items-center
  .col-3
    .circle-with-icon
      i.bi.bi-1-circle-fill

  .col-3
    .circle-with-icon
      i.bi.bi-airplane-fill

  .col-3
    .circle-with-icon
      i.bi.bi-award-fill

.row.mt-4.text-center.justify-content-center
  .col-3
    p.fs-6.text-light Lorem ipsum dolor, sit amet consectetur adipisicing elit. dolor, sit amet dolor, sit amet consectetur adipisicing elit.

  .col-3
    p.fs-6.text-light Lorem ipsum dolor, sit amet consectetur adipisicing elit. dolor, sit amet dolor, sit amet consectetur adipisicing elit.

  .col-3
    p.fs-6.text-light Lorem ipsum dolor, sit amet consectetur adipisicing elit. dolor, sit amet dolor, sit amet consectetur adipisicing elit.
