<!-- Index -->
<div class="row bg-secondary mt-5 justify-content-between align-items-center">
  <div class="col-6 p-0 img-presentation">
    <img src="/static/img/laptop.png" alt="Presentation">
  </div>
  <div class="col-6">
    <p class="text-light text-center"><strong>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem temporibus</strong> Inventore eos saepe ad perspiciatis esse fugit, enim aspernatur voluptatum suscipit ipsa sit impedit nulla obcaecati pariatur.</p>
  </div>
</div>
<div class="row bg-secondary justify-content-between align-items-center">
  <div class="col-6">
    <p class="text-light text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem temporibus asperiores sit eveniet! Inventore eos saepe ad perspiciatis esse fugit, <strong>enim aspernatur voluptatum suscipit ipsa sit impedit nulla obcaecati pariatur</strong></p>
  </div>
  <div class="col-6 p-0 img-presentation">
    <img src="/static/img/venta.png" alt="Presentation">
  </div>
</div>
<div class="row mt-5 text-center justify-content-center align-items-center">
  <div class="col-3">
    <div class="circle-with-icon">
      <i class="bi bi-1-circle-fill"></i>
    </div>
  </div>
  <div class="col-3">
    <div class="circle-with-icon">
      <i class="bi bi-airplane-fill"></i>
    </div>
  </div>
  <div class="col-3">
    <div class="circle-with-icon">
      <i class="bi bi-award-fill"></i>
    </div>
  </div>
</div>
<div class="row mt-4 text-center justify-content-center">
  <div class="col-3">
    <p class="fs-6 text-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. dolor, sit amet dolor, sit amet consectetur adipisicing elit. </p>
  </div>
  <div class="col-3">
    <p class="fs-6 text-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. dolor, sit amet dolor, sit amet consectetur adipisicing elit. </p>
  </div>
  <div class="col-3">
    <p class="fs-6 text-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. dolor, sit amet dolor, sit amet consectetur adipisicing elit. </p>
  </div>
</div>